In [1]:
import pyautogui
import pandas as pd
import time
import pyperclip

In [2]:
# Carregando o banco de dados:
df = pd.read_excel("Vendas - Dez.xlsx", sheet_name = "Plan1")
df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [3]:
# Conhendo os produtos que as lojas trabalham:
agrupado = df.groupby(['Produto']).size()
agrupado

Produto
Bermuda             59
Bermuda Estampa     49
Bermuda Linho       61
Bermuda Liso        44
Bermuda Listrado    55
                    ..
Tênis Estampa       56
Tênis Linho         58
Tênis Liso          60
Tênis Listrado      49
Tênis Xadrez        54
Length: 120, dtype: int64

In [4]:
df.groupby(['Produto']).agg({'Valor Unitário': [min]})

                 Valor Unitário
                            min
Produto
Bermuda                     150
Bermuda Estampa             169
Bermuda Linho               195
Bermuda Liso                157
Bermuda Listrado            163
...                         ...
Tênis Estampa               256
Tênis Linho                 294
Tênis Liso                  266
Tênis Listrado              262
Tênis Xadrez                259

[120 rows x 1 columns]

In [5]:
df.groupby(['ID Loja', 'Produto']).agg({'Valor Final': [min, max, sum]})

                                     Valor Final
                                             min   max   sum
ID Loja             Produto
Bourbon Shopping SP Bermuda                  300   450   750
                    Bermuda Estampa          169   676  1183
                    Bermuda Linho            195   195   195
                    Bermuda Liso             471   471   471
                    Bermuda Listrado         163   489  1793
...                                          ...   ...   ...
Shopping Vila Velha Tênis                    250   250   250
                    Tênis Linho              294   294   294
                    Tênis Liso               266   532  1064
                    Tênis Listrado           262   262   262
                    Tênis Xadrez             518  1036  1554

[2716 rows x 3 columns]

In [6]:
df.groupby([ pd.Grouper(key='Data', freq='w'), 'ID Loja']).agg({'Valor Final': [min, max, sum]})

                                      Valor Final
                                              min   max    sum
Data       ID Loja
2019-12-01 Bourbon Shopping SP                170   897   4011
           Center Shopping Uberlândia          60   750   2559
           Iguatemi Campinas                   73  2250  10972
           Iguatemi Esplanada                  85  3750   5671
           Norte Shopping                      85   535   1836
...                                           ...   ...    ...
2019-12-29 Shopping Morumbi                    50  2118   9705
           Shopping Recife                     30  2880  23082
           Shopping SP Market                  37  1240  18636
           Shopping União de Osasco            66  2250  16977
           Shopping Vila Velha                 37  1440  15849

[125 rows x 3 columns]

In [7]:
df.groupby([ 'ID Loja', 'Produto']).agg({'Valor Final': [min, max, sum]})

                                     Valor Final
                                             min   max   sum
ID Loja             Produto
Bourbon Shopping SP Bermuda                  300   450   750
                    Bermuda Estampa          169   676  1183
                    Bermuda Linho            195   195   195
                    Bermuda Liso             471   471   471
                    Bermuda Listrado         163   489  1793
...                                          ...   ...   ...
Shopping Vila Velha Tênis                    250   250   250
                    Tênis Linho              294   294   294
                    Tênis Liso               266   532  1064
                    Tênis Listrado           262   262   262
                    Tênis Xadrez             518  1036  1554

[2716 rows x 3 columns]

In [8]:
faturamento = df['Valor Final'].sum()
qtde_produtos = df['Quantidade'].sum()

In [11]:
# Abrindo uma nova guia, digitando para entrar o gmail e entrando no site: (esperar 5segundos para carregar tudo)
pyautogui.hotkey('ctrl', 't')
pyautogui.write("mail.google.com")
pyautogui.press('enter')
time.sleep(5)

In [10]:
# Coletando a localização de onde estará o botão escrever novo e-mail:
time.sleep(5)
print(pyautogui.position())

Point(x=143, y=201)

In [17]:
# Pressionando o botão de escrever um novo email:
# Delay para teste - time.sleep(5)
pyautogui.click(143,201)

In [21]:
# Digitando as configurações do email, para quem vai e o assunto do email:
# Delay para teste - time.sleep(8)
pyautogui.write('email@gmail.com')
pyautogui.press('tab')
pyautogui.press('tab')
assunto = "Relátorio de Vendas"
pyperclip.copy(assunto)
pyautogui.hotkey("ctrl", 'v')

In [24]:
# Escrevendo o texto do email:
# Delay para teste - time.sleep(8)
pyautogui.press('tab')
texto = f"""
Prezados, bom dia

O faturamento d eontem foi de: R${faturamento:,.2f}
A quantidade de produtos foi de: {qtde_produtos:,}

Abs.
Haline Velloso

"""
# Enviando o email:
pyperclip.copy(texto)
pyautogui.hotkey("ctrl", 'v')
pyantogui.hotkey("ctrl", 'enter')