In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [4]:
# para rodar o chrome em 2º plano
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.headless = True 
navegador = webdriver.Chrome(options=chrome_options)

In [2]:
# Informar o navegador o qual vamos utilizar e entrar no site da google:
navegador = webdriver.Chrome()
negador.get("https://www.google.com")

In [ ]:
# Pegando a cotação do Dolar:
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value"))
print(cotacao_dolar)

In [ ]:
# Pegando a cotação do Euro (como as paginas são iguais o codigo é o mesmo):
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value"))
print(cotacao_euro)

In [ ]:
# Passo 3: Pegar a cotação do Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")
#cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

# Fechar o navegador:
navegador.quit()

In [9]:
# # Utilizando dados prontos apenas para teste:
# cotacao_dolar = 5.22
# cotacao_euro = 5.12
# cotacao_ouro = 288.75

In [10]:
# Agora temos que atualizar nosso banco de dados com os valores da cotação:
import pandas as pd

df = pd.read_excel("Produtos.xlsx")
df.head()

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.9,34200.000

In [11]:
# Atualizando os dados da cotação:
df.loc[df["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
df.loc[df["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
df.loc[df["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
df.head()

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.22,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,5.12,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5.22,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5.22,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,5.12,18000.00,1.9,34200.000

In [14]:
# Atualizar o preço base reais (preço base original * cotação)
df["Preço de Compra"] = df["Preço Original"] * df["Cotação"]

In [15]:
# atualizar o preço final (preço base reais * Margem)
df["Preço de Venda"] = df["Preço de Compra"] * df["Margem"]

In [16]:
df

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.22,5219.9478,1.40,7307.92692
1,Carro Renault,4500.00,Euro,5.12,23040.0000,2.00,46080.00000
2,Notebook Dell,899.99,Dólar,5.22,4697.9478,1.70,7986.51126
3,IPhone,799.00,Dólar,5.22,4170.7800,1.70,7090.32600
4,Carro Fiat,3000.00,Euro,5.12,15360.0000,1.90,29184.00000
5,Celular Xiaomi,480.48,Dólar,5.22,2508.1056,2.00,5016.21120
6,Joia 20g,20.00,Ouro,288.75,5775.0000,1.15,6641.25000

In [ ]:
# Passo 6: Salvar os novos preços dos produtos
#df.to_excel("Produtos Novo.xlsx", index=False)